<!doctype html>
<html lang="en" dir="ltr">
	{% include "sections/head.njk" %}
	<body layout='layout-{{ layoutType }}'>
		{% include "sections/header.njk" %}

		{{ content | safe }}

		{% include "sections/footer.njk" %}
		{% include "sections/scripts.njk" %}
	</body>
</html>