---
layout: base.njk
layoutType: index
---

<div id="content-wrapper">
	<div class="content-area">
		{% include "sections/drawer-articles.njk" %}
		<main class="markdown-body">
			{{ content | safe }}
		</main>
	</div>
</div>