<link rel="apple-touch-icon" sizes="192x192" href="{{ '/_assets/_static/icons/icon-192x192.png' | asset | url }}">
<link rel="icon" type="image/png" sizes="72x72" href="{{ '/_assets/_static/icons/icon-72x72.png' | asset | url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/_assets/_static/icons/icon-96x96.png' | asset | url }}">
<link rel="icon" href="{{ '/_assets/logo.svg' | asset | url }}">
<link rel="manifest" href="{{ '/_assets/webmanifest.json' | asset | url }}">
<link rel="mask-icon" href="{{ '/_assets/_static/logo.svg' | asset | url }}" color="{{ site.iconColorMaskIcon }}">
<meta name="msapplication-TileColor" content="{{ site.iconColorMsapplicationTileColor }}">
<meta name="theme-color" content="{{ site.iconColorThemeColor }}">
