<wccg-navigation id="sidebar">
	<template shadowrootmode="open"><slot></slot></template>
	<nav id="sidebar-nav">
		<a class="logo-link" href="/">
			<img src="/assets/logo.svg" alt="Web Components Community Group Logo">
			<span>Web Components Community Group at W3C</span>
		</a>
		<rocket-navigation>
			<ul>
				<li class="menu-item">
					<a href="/about/introduction/">Introduction</a>
				</li>
				<li class="menu-item">
					<a href="/about/libraries/">Libraries</a>
				</li>
				<li class="menu-item">
					<a href="/about/resources/">Resources</a>
				</li>
				<li class="menu-item">
					<a href="/about/specifications/">Specifications</a>
				</li>
			</ul>
			<div class="sidebar-bottom">
				<hr>
				<launch-dark-switch class="light-dark-switch" label="Toggle darkmode">Toggle darkmode</launch-dark-switch>
				<a href="https://github.com/webcomponents-cg/docs-and-guides/issues">Help and Feedback</a>
			</div>
		</rocket-navigation>
	</nav>
</wccg-navigation>