<rocket-drawer id="sidebar">
	<nav slot="content" id="sidebar-nav">
		<a class="logo-link" href="/">
			<img src="/assets/logo.svg.svg" alt="Web Components Community Group Logo">
			<span>Web Components Community Group at W3C</span>
		</a>
		<rocket-navigation>
			<ul>
				<li>
					<a href="/about/" class="">About</a>
				</li>
				<li>
					<a href="/articles/" class="">Articles</a>
				</li>
			</ul>
			<div class="sidebar-bottom">
				<hr>
				<launch-dark-switch class="light-dark-switch" label="Toggle darkmode">Toggle darkmode</launch-dark-switch>
				<a href="https://github.com/webcomponents-cg/docs-and-guides/issues">Help and Feedback</a>
			</div>
		</rocket-navigation>
	</nav>
</rocket-drawer>