<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Web Components CG: Web Components Community Group at W3C</title>
	<meta property="og:title" content="Web Components CG: Web Components Community Group at W3C">
	<meta name="description" content="Collect and share documentation and guides for web component best practices">
	<meta property="og:description" content="Collect and share documentation and guides for web component best practices">
	<link rel="apple-touch-icon" sizes="192x192" href="/assets/icons/icon-192x192.png">
	<link rel="icon" type="image/png" sizes="72x72" href="/assets/icons/icon-72x72.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/icon-96x96.png">
	<link rel="icon" href="/assets/logo.svg">
	<link rel="mask-icon" href="/assets/logo.svg" color="#3f93ce">
	<meta name="msapplication-TileColor" content="#1d3557">
	<meta name="theme-color" content="#1d3557">
	<meta property="og:site_name" content="Web Components Community Group at W3C">
	<meta property="og:image" content="3a2360d2.png">
	<meta property="og:url" content="/">
	<meta property="og:type" content="website">
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&amp;display=optional" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=optional" rel="stylesheet">
	<link rel="stylesheet" href="/styles.css" />
	<link
		href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
		rel="stylesheet"
	/>
	<link rel="canonical" href="/">
</head>