  html,
  body {
      margin: 0;
      font-family: sans-serif;
      font-size: 1.05rem;
      line-height: 1.6;
      -webkit-font-smoothing: antialiased;
  }

  body,
  main.basic {
      /* Ensures the footer stays at the bottom */
      display: flex;
      flex-direction: column;
      /* min-height: 100vh; */
  }

  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }

  h1,
  h2,
  h3 {
      font-weight: 400;
  }

  h1 {
      font-size: 2rem;
  }

  h3 {
      margin-top: 0.83em;
      font-weight: 500;
  }

  .basic h1 {
      margin: 0;
  }

  .basic h2[id] {
      font-size: 1.5rem;
      line-height: 1.9375rem;
      font-weight: bold;
      margin-top: 2em;
  }

  .basic h3[id] {
      font-size: 1.3rem;
      font-weight: bold;
      margin-top: 2em;
  }

  .basic h2+h3[id],
  .basic p+h3[id] {
      margin-top: 0;
  }

  .basic h1+p,
  .basic h2+p,
  .basic h3+p,
  .basic h4+p {
      margin-top: 0;
  }

  main.basic {
      margin: 2rem;
      flex-grow: 1;
  }

  .l-header__mobile-menu-toggle,
  [id=mobile-menu-toggle][id] {
      position: fixed;
      top: 0;
      left: 0;
  }

  .l-header__mobile-menu-toggle {
      width: 1.5rem;
      height: 3.75rem;
      margin-right: 16px;
      color: #fff;
      z-index: 200;
      position: fixed;
      top: 0;
      left: 16px;
  }

  .menu-toggle__button {
      display: block;
      cursor: pointer;
      border: 0;
      overflow: hidden;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  .l-header__burger-icon {
      display: block;
      position: absolute;
      top: 50%;
      left: calc(50% - .75rem);
      transform: scale(.25);
      transform-origin: left top;
  }

  .l-header__burger-icon::before,
  .l-header__burger-icon::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 6rem;
  }

  .l-header__burger-icon::before {
      height: 0;
      border-top: .5rem solid #fff;
      background: #fff;
      transform: translateY(-2rem);
      transform-origin: left top;
      transition: transform .3s cubic-bezier(.55, .085, 0, .99);
  }

  .l-header__burger-icon::after {
      height: 2.5rem;
      border: .5rem solid #fff;
      border-width: .5rem 0;
      transition: border .3s cubic-bezier(.55, .085, 0, .99), transform .3s cubic-bezier(.55, .085, 0, .99);
      transform-origin: left bottom;
  }

  .site-navigation__outer-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      height: 100vh;
  }

  .site-navigation {
      width: 17.5rem;
      padding-top: 1.875rem;
      height: 100vh;
      overflow-y: auto;
      color: #151515;
      background: #fff;
      border-right: .0625rem solid #d2d2d2;
  }

  .site-navigation__sub-menu,
  .site-navigation__wrapper {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .site-navigation .site-navigation__item {
      line-height: 2.25rem;
  }

  .site-navigation .site-navigation__heading,
  .site-navigation .site-navigation__link,
  .site-navigation .site-navigation__sub-menu__link {
      display: block;
      text-decoration: none;
      transition: background-color .25s;
      font-size: 1.125rem;
      padding: .5em 2rem;
      color: #151515;
  }

  .site-navigation details>summary::-webkit-details-marker {
      display: none;
  }

  .site-navigation summary {
      cursor: pointer;
  }

  .site-navigation .site-navigation__heading::after {
      content: "";
      color: #151515;
      width: .5625rem;
      height: .5625rem;
      transform: rotate(45deg);
      border-right: .1875rem solid #151515;
      border-top: .1875rem solid #151515;
      display: flex;
      float: right;
      top: .8125rem;
      position: relative;
  }

  .site-navigation details[open] .site-navigation__heading::after {
      transform: rotate(135deg);
  }

  .site-navigation__sub-menu {
      padding-left: 2rem;
  }

  .site-navigation .site-navigation__sub-menu__link {
      font-size: 1rem;
      line-height: 1.5rem;
      padding-left: 1rem;
  }

  .site-navigation .site-navigation__heading:focus,
  .site-navigation .site-navigation__heading:hover,
  .site-navigation .site-navigation__link:focus,
  .site-navigation .site-navigation__link:hover,
  .site-navigation .site-navigation__sub-menu__link:focus,
  .site-navigation .site-navigation__sub-menu__link:hover {
      color: #151515;
      background: #f5f5f5;
      box-shadow: inset 0.1875rem 0 0 0 #d2d2d2;
  }

  .site-navigation .site-navigation__link[active],
  .site-navigation .site-navigation__sub-menu__link[active] {
      background: #f5f5f5;
      box-shadow: inset 0.1875rem 0 0 0 var(--pfe-theme--color--surface--accent, #004080);
      color: #151515;
  }

  [id=mobile-menu-toggle]~.menu-toggle__toggleable {
      visibility: hidden;
      transition: visibility 0s .4s, width .25s ease-in-out;
      width: 0;
      overflow: hidden;
      background: #fff;
  }

  [id=mobile-menu-toggle]:checked~.menu-toggle__toggleable {
      visibility: visible;
      transition: visibility 0s 0s, width .25s ease-in-out;
      width: 17.5rem;
  }

  @media (min-width: 820px) {
      main.basic,
      footer.basic {
          padding-left: 17.5rem;
      }

      .site-navigation {
          visibility: visible;
          padding-bottom: 1.875rem;
      }

      .l-header__mobile-menu-toggle,
      [id=mobile-menu-toggle][id] {
          display: none;
      }

      .menu-toggle__toggleable.js-menu-toggle__toggleable,
      [id=mobile-menu-toggle]~.menu-toggle__toggleable {
          overflow: visible;
          visibility: visible;
      }
  }

  @media (min-width: 1200px) {
      .basic h2[id] {
          font-size: 2rem;
          line-height: 2.3125rem;
      }
  }